@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap");

* {
  font-family: "Roboto";
  line-height: 22px;
  /*background-image: url("../img/banner.jpg");*/
  /*background-repeat: no-repeat;
  background-attachment: fixed;*/
  background-color: rgb(255, 255, 255);
}

.review-score {
  background-color: #ff00aa;
  padding: 0.8rem;
  border-radius: 6px;
  color: aliceblue;
  font-weight: 600;
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #ff00aa;
}

h2 {
  margin-top: 35px;
  color: #ff00aa;
}

p {
  font-size: 16px;
}

#assista {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
}

img {
  align-items: center;
  object-fit: contain;
  width: 100%;
  height: auto;
}
